<head>
<style>
	img {
		display: "inline-block";
		margin: 10px;
		border: 1px solid black;
		box-sizing: border-box;
		cursor: pointer;
	}
	#videos {
		display: flex;
		height: auto;
	}
	#videos > video {
		width: 100%;
	}
</style>
</head>

<body style="margin: 0">

<style type="text/css">
	
    *::-webkit-scrollbar,::-webkit-scrollbar
    { 
        display: none;
    }
   
    *::-webkit-scrollbar-track,::-webkit-scrollbar
    { 
        display: none;
    } 
    ::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb
    { 
        display: none;
    }

</style>

<div id="videos">
	<video id="live" autoplay></video>
	<video id="recorded" autoplay controls></video>
</div>

<div id="buttons">
    <!-- set them after a unique btn with diff ui in diff cases -->
	<button id="show" onclick="showarea()">area</button>
	<button id="start"onclick="startRecording()"  >Record</button>
	<button id="stop" onclick="stopRecording()">Stop</button>
</div>

<script type="text/javascript">





	// Dans le processus renderer.
	const { desktopCapturer } = require('electron')
	const ipc = require('electron').ipcRenderer;


	function startRecording() {
		
		desktopCapturer.getSources({ types: ['window', 'screen'] }).then(async sources => {
		for (const source of sources) {
			if (source.name === 'daxar-area') {
			try {
				const stream = await navigator.mediaDevices.getUserMedia({
				audio: false,
				video: {
					mandatory: {
					chromeMediaSource: 'desktop',
					chromeMediaSourceId: source.id,
					minWidth: 1280,
					maxWidth: 1280,
					minHeight: 720,
					maxHeight: 720
					}
				}
				})
				handleStream(stream)
			} catch (e) {
				handleError(e)
			}
			return
			}
		}
		})

	}
	

	function handleStream (stream) {
	const video = document.querySelector('video')
	video.srcObject = stream
	video.onloadedmetadata = (e) => video.play()
	}

	function handleError (e) {
	console.log(e)
	}



	function showarea() {
		
		ipc.send('show-area');

	}



</script>
 
</body>
</html>