<headerTag>
	
   
   	<div class="col s12 headerTag" style="padding-left: 0px;">
  		<span class="left">
  			<img draggable="false" class="logo_min" src="../assets/daxar-logo-min.png">
  		</span> 
      
  		<span class="right" style="margin-right: 10px;">
  			<span><img draggable="false" id="minimizer" class="win_top_icon" src="../assets/minimize_icon.png"></span>
  			<span><img draggable="false" id="maximizer" class="win_top_icon" src="../assets/maximize_icon.png"></span>
  			<span><img draggable="false" id="closer" class="win_top_icon" src="../assets/close_icon.png"></span>
  		</span>

   

  	</div>
  
 <style type="text/css">
   .headerTag
   {
   	height: 42px;
   	background-color: #9a24bf;
    -webkit-app-region: drag;

   }
   .darkTheme
   {
    background-color: #1a1a1a;
   }
   .logo_min
   {
    transform: scale(0.7);
   }

 </style>

  <script>
  	   //On.mount !important for events and effects
  	   var self = this;
  	   this.on('mount', function() 
  	   {
          


       });
 

  </script>

</headerTag>