<timelineTag>
	
<div class="row" style="margin-top: 10px">
  <div class="col s12">
    <div class="col s10  offset-s1 z-depth-1" style="height: 56px;border-radius: 6px 6px;background-color: #f2f2f2;">
     
      <div style="float: left; width: 30px;height: 100%;background-color: #9a24bf;border-radius: 6px 0px 0px 6px;"></div>
      <div style="float: left;"></div>

    </div>
  </div>
</div>
     
    
  
 <style type="text/css">
   .timelineTag
   {
    
   }
    
 </style>

  <script>
  	   //On.mount !important for events and effects
  	   var self = this;
  	   this.on('mount', function() 
  	   {
          


       });
 

  </script>

</timelineTag>